﻿/* RTL SUPPORT */
.page-container.page-content-rtl .breadcrumb {
  float: right;
  text-align: right;
}
.page-container.page-content-rtl .breadcrumb > li + li:before {
  content: "\f104";
}
.page-container.page-content-rtl .page-title {
  float: right;
}
.page-container.page-content-rtl .page-title h2 {
  float: right;
}
.page-container.page-content-rtl .x-navigation li.xn-title {
  text-align: right;
}
.page-container.page-content-rtl .x-navigation li > a {
  text-align: right;
}
.page-container.page-content-rtl .x-navigation li > a .fa,
.page-container.page-content-rtl .x-navigation li > a .glyphicon {
  margin-right: 0px;
  margin-left: 10px;
}
.page-container.page-content-rtl .x-navigation li.xn-icon-button > a {
  text-align: center;
}
.page-container.page-content-rtl .x-navigation li.xn-icon-button > a .fa,
.page-container.page-content-rtl .x-navigation li.xn-icon-button > a .glyphicon {
  margin-left: 0px;
}
.page-container.page-content-rtl .x-navigation li.xn-icon-button > a .flag {
  margin-right: auto;
  margin-left: auto;
}
.page-container.page-content-rtl .x-navigation li.xn-openable:before {
  right: auto;
  left: 0px;
  text-align: right;
}
.page-container.page-content-rtl .x-navigation li.xn-openable > .informer {
  right: auto;
  left: 25px;
}
.page-container.page-content-rtl .x-navigation .informer {
  right: auto;
  left: 10px;
}
.page-container.page-content-rtl .flag {
  margin-right: 0px;
  margin-left: 10px;
}
.page-container.page-content-rtl .mCSB_scrollTools {
  left: 0px;
  right: auto;
}
.page-container.page-content-rtl .panel {
  text-align: right;
}
.page-container.page-content-rtl .panel .panel-heading .panel-title {
  float: right;
  margin-left: 0px;
  margin-right: 7px;
}
.page-container.page-content-rtl .panel .panel-heading ul.panel-controls {
  float: left;
}
.page-container.page-content-rtl .list-group-contacts .list-group-item img {
  margin-right: 0px;
  margin-left: 10px;
}
.page-container.page-content-rtl .list-group-controls {
  right: auto;
  left: 10px;
}
.page-container.page-content-rtl .list-group-status {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
.page-container.page-content-rtl .list-tags li {
  float: right;
}
.page-container.page-content-rtl .list-tags li a {
  float: right;
  margin: 0px 0px 5px 5px;
}
.page-container.page-content-rtl .messages .item .text .heading .date {
  float: left;
}
.page-container.page-content-rtl .page-content .page-content-wrap {
  text-align: right;
}
.page-container.page-content-rtl .page-content .page-content-wrap .widget.widget-item-icon .widget-data .widget-int,
.page-container.page-content-rtl .page-content .page-content-wrap .widget.widget-item-icon .widget-data-left .widget-int,
.page-container.page-content-rtl .page-content .page-content-wrap .widget.widget-item-icon .widget-data .widget-title,
.page-container.page-content-rtl .page-content .page-content-wrap .widget.widget-item-icon .widget-data-left .widget-title,
.page-container.page-content-rtl .page-content .page-content-wrap .widget.widget-item-icon .widget-data .widget-subtitle,
.page-container.page-content-rtl .page-content .page-content-wrap .widget.widget-item-icon .widget-data-left .widget-subtitle {
  text-align: right;
}
.page-container.page-content-rtl .page-content .page-content-wrap .control-label,
.page-container.page-content-rtl .page-content .page-content-wrap div.tagsinput span.tag a {
  text-align: left;
}
.page-container.page-content-rtl .page-content .page-content-wrap .bootstrap-select.btn-group .btn .filter-option {
  text-align: right;
}
.page-container.page-content-rtl .page-content .page-content-wrap .bootstrap-select > .btn {
  padding-left: 25px;
  padding-right: 15px;
}
.page-container.page-content-rtl .page-content .page-content-wrap .bootstrap-select.btn-group .btn .caret {
  right: auto;
  left: 12px;
}
.page-container.page-content-rtl .page-content .page-content-wrap .dropdown-menu > li > a {
  text-align: right;
}
.page-container.page-content-rtl .page-content .page-content-wrap .close {
  float: left;
}
.page-container.page-content-rtl .page-content .page-content-wrap .list-group-item > .badge {
  float: left;
}
.page-container.page-content-rtl .page-content .page-content-wrap th {
  text-align: right;
}
/* END RTL SUPPORT */