/* THEME */
@body-background: #f5f5f5;

/* @base-background: #2F323A; */
@base-background: #34495e;
@base-background-active: darken(@base-background,5%);

/* TEXT COLORS */
@base-color: #656D78;
@base-heading-color: #434A54;
/* END TEXT COLORS */
    
    @theme-color: #57A9A8;
    
    /* BASE ELEMENT COLORs */
    @base-primary: #57A9A8;
    @base-success: #95B75D;
    @base-info: #3FBAE4;
    @base-warning: #FEA223;
    @base-danger: #B64645;
    /* EOF BASE ELEMENT COLORs */
        
    /* START X-NAVIGATION */
    @xn-background: @base-background;
    @xn-background-active: @base-background-active;
        @xn-background-logo: #22242A;
        
    @xn-color: #FFF;
    @xn-color-sub: #FFF;
        @xn-icon-color: @xn-color;
        @xn-icon-color-hover: #57A9A8;
        @xn-submenu-width: 220px;        

    @xn-horizontal-background: #22242A;
        @xn-horizontal-background-hover: lighten(@xn-horizontal-background,5%);
        
        @xn-horizontal-color: #6B7182;
            @xn-horizontal-icon: @xn-horizontal-color;
            @xn-horizontal-icon-hover: #57A9A8;
    /* END X-NAVIGATION */    
    
    /* START WIDGETS */
        @widget-primary: @base-primary;                
        @widget-success: @base-success;
        @widget-info: @base-info;
        @widget-warning: @base-warning;                
        @widget-danger: @base-danger;
    /* END WIDGETS */
    
    /* COMMENTS */
    @bg-comments: #eff7ff;
    /* END COMMENTS */
    
    /* SIDEBAR */
    @sidebar_width: 300px;
    @sidebar_background: @base-background-active;
    @sidebar_title_background: darken(@sidebar_background,3%);
    @sidebar_title_color: #FFF;
    @sidebar_tabs_color: #F5F5F5;
    @sidebar_color: #FFF;
    /* END SIDEBAR */    
/* EOF THEME */